.classpath
.project
.settings
.tomcatplugin
*/bin
*/*/bin
*/*/target
*/target
*/*/bin-test
*/*/*/*.xsd
.settings/
bin/
bin-test/
target/
bin_ant/
dist/
tmp/
.tomcatplugin
.#webclasspath

v3classifieds/c4war/webapp/WEB-INF/config/resources/temp_persist_config*.xml
v3classifieds/clsfds-ecg-api-ext/src/types-*.xsd

